<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="stylesheets/pygment_trac.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="stylesheets/print.css" media="print" />

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <title>MvcSiteMapProvider by NightOwl888</title>
  </head>

  <body>
    <header>
      <div class="inner">
        <h1>MvcSiteMapProvider</h1>
        <h2>An ASP.NET MVC SiteMapProvider implementation for the ASP.NET MVC framework.</h2>
        <a href="https://github.com/NightOwl888/MvcSiteMapProvider" class="button"><small>View project on</small>GitHub</a>
      </div>
    </header>

    <div id="content-wrapper">
      <div class="inner clearfix">
        <section id="main-content">
          <h2>
<a name="getting-started" class="anchor" href="#getting-started"><span class="octicon octicon-link"></span></a>Getting Started</h2>

<p><strong><a href="https://github.com/maartenba/MvcSiteMapProvider/releases">Release Notes</a></strong></p>

<h4>
<a name="congratulations-you-have-just-installed-mvcsitemapprovider" class="anchor" href="#congratulations-you-have-just-installed-mvcsitemapprovider"><span class="octicon octicon-link"></span></a>Congratulations, you have just installed MvcSiteMapProvider!</h4>

<p>The NuGet package has added the default configuration to your application. Unless you are <a href="https://github.com/maartenba/MvcSiteMapProvider/wiki/Getting-Started#extra-configuration-steps-for-net-35">using .NET 3.5</a> or have installed a <a href="https://github.com/maartenba/MvcSiteMapProvider/wiki/Getting-Started#extra-configuration-steps-for-external-di-modules-packages">DI modules-only package</a>, this configuration will start up automatically.</p>

<p>However, you still need to add the HTML helpers to your views to see it work. Let's get started by adding the following 2 HTML helpers to your /Views/Shared/<em>Layout.cshtml or /Views/Shared/</em>Layout.aspx page.</p>

<div class="highlight highlight-csharp"><pre><span class="n">@Html</span><span class="p">.</span><span class="n">MvcSiteMap</span><span class="p">().</span><span class="n">Menu</span><span class="p">()</span>
<span class="n">@Html</span><span class="p">.</span><span class="n">MvcSiteMap</span><span class="p">().</span><span class="n">SiteMapPath</span><span class="p">()</span>
</pre></div>

<p>If you run your project, you will now see a menu that looks something like this:</p>

<pre><code>Home   About
</code></pre>

<p>And a breadcrumb trail that just shows:</p>

<pre><code>Home
</code></pre>

<p>If you click the About link, you will see your breadcrumb trail change to the following (we are assuming you have a controller action on the HomeController named About and a corresponding view named /Views/Home/About.cshtml).</p>

<pre><code>Home  &gt;  About
</code></pre>

<h2>
<a name="configuring-nodes" class="anchor" href="#configuring-nodes"><span class="octicon octicon-link"></span></a>Configuring Nodes</h2>

<p>Next, let's add the Contact page to demonstrate how easy it is to add new pages to the configuration. Again, make sure your Home controller has a Contact action, like this:</p>

<div class="highlight highlight-csharp"><pre>    <span class="k">public</span> <span class="n">ActionResult</span> <span class="nf">Contact</span><span class="p">(</span><span class="kt">int</span> <span class="n">id</span><span class="p">)</span>
    <span class="p">{</span>
        <span class="n">ViewBag</span><span class="p">.</span><span class="n">Message</span> <span class="p">=</span> <span class="s">"Your contact page."</span><span class="p">;</span>

        <span class="k">return</span> <span class="nf">View</span><span class="p">();</span>
    <span class="p">}</span>
</pre></div>

<p>And make sure you have added a view named /Views/Home/Contact.cshtml (or .aspx).</p>

<p>Open up the /Mvc.sitemap file and you will see that the default configuration looks like this.</p>

<div class="highlight highlight-xml"><pre><span class="cp">&lt;?xml version="1.0" encoding="utf-8" ?&gt;</span>
<span class="nt">&lt;mvcSiteMap</span> <span class="na">xmlns:xsi=</span><span class="s">"http://www.w3.org/2001/XMLSchema-instance"</span>
        <span class="na">xmlns=</span><span class="s">"http://mvcsitemap.codeplex.com/schemas/MvcSiteMap-File-4.0"</span>
        <span class="na">xsi:schemaLocation=</span><span class="s">"http://mvcsitemap.codeplex.com/schemas/MvcSiteMap-File-4.0 MvcSiteMapSchema.xsd"</span><span class="nt">&gt;</span>

    <span class="nt">&lt;mvcSiteMapNode</span> <span class="na">title=</span><span class="s">"Home"</span> <span class="na">controller=</span><span class="s">"Home"</span> <span class="na">action=</span><span class="s">"Index"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;mvcSiteMapNode</span> <span class="na">title=</span><span class="s">"About"</span> <span class="na">controller=</span><span class="s">"Home"</span> <span class="na">action=</span><span class="s">"About"</span><span class="nt">/&gt;</span>
    <span class="nt">&lt;/mvcSiteMapNode&gt;</span>

<span class="nt">&lt;/mvcSiteMap&gt;</span>
</pre></div>

<p>Add another node just below about, setting the title to "Contact Us", the controller to "Home", and the action to "Contact" as shown below.</p>

<div class="highlight highlight-xml"><pre><span class="cp">&lt;?xml version="1.0" encoding="utf-8" ?&gt;</span>
<span class="nt">&lt;mvcSiteMap</span> <span class="na">xmlns:xsi=</span><span class="s">"http://www.w3.org/2001/XMLSchema-instance"</span>
        <span class="na">xmlns=</span><span class="s">"http://mvcsitemap.codeplex.com/schemas/MvcSiteMap-File-4.0"</span>
        <span class="na">xsi:schemaLocation=</span><span class="s">"http://mvcsitemap.codeplex.com/schemas/MvcSiteMap-File-4.0 MvcSiteMapSchema.xsd"</span><span class="nt">&gt;</span>

    <span class="nt">&lt;mvcSiteMapNode</span> <span class="na">title=</span><span class="s">"Home"</span> <span class="na">controller=</span><span class="s">"Home"</span> <span class="na">action=</span><span class="s">"Index"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;mvcSiteMapNode</span> <span class="na">title=</span><span class="s">"About"</span> <span class="na">controller=</span><span class="s">"Home"</span> <span class="na">action=</span><span class="s">"About"</span><span class="nt">/&gt;</span>
        <span class="nt">&lt;mvcSiteMapNode</span> <span class="na">title=</span><span class="s">"Contact Us"</span> <span class="na">controller=</span><span class="s">"Home"</span> <span class="na">action=</span><span class="s">"Contact"</span><span class="nt">/&gt;</span>
    <span class="nt">&lt;/mvcSiteMapNode&gt;</span>

<span class="nt">&lt;/mvcSiteMap&gt;</span>
</pre></div>

<p>Run your project again, and you will see that your menu now contains a Contact Us link. Click it and you will see that the breadcrumb trail now shows the path below.</p>

<pre><code>Home  &gt;  Contact Us
</code></pre>

<h4>
<a name="dont-like-xml-configuration" class="anchor" href="#dont-like-xml-configuration"><span class="octicon octicon-link"></span></a>Don't like <a href="http://github.com/maartenba/MvcSiteMapProvider/wiki/Defining-sitemap-nodes-in-XML">XML configuration</a>?</h4>

<ul>
<li><a href="http://github.com/maartenba/MvcSiteMapProvider/wiki/Defining-sitemap-nodes-using-.NET-attributes">Define SiteMap nodes using .NET Attributes</a></li>
<li><a href="http://github.com/maartenba/MvcSiteMapProvider/wiki/Defining-sitemap-nodes-using-IDynamicNodeProvider">Define SiteMap nodes using Dynamic Node Providers</a></li>
</ul><h2>
<a name="changing-the-templates" class="anchor" href="#changing-the-templates"><span class="octicon octicon-link"></span></a>Changing the Templates</h2>

<p>Don't like the HTML elements that are output from these HTML helpers? Change them!</p>

<p>Navigate to the /Views/Shared/DisplayTemplates/ folder and you will see a list of templates that are used to build the HTML, as follows.</p>

<ul>
<li>CanonicalHelperModel</li>
<li>MenuHelperModel</li>
<li>MetaRobotsHelperModel</li>
<li>SiteMapHelperModel</li>
<li>SiteMapNodeModel</li>
<li>SiteMapNodeModelList</li>
<li>SiteMapPathHelperModel</li>
<li>SiteMapTitleHelperModel</li>
</ul><p>To edit the menu, have a look at the MenuHelperModel.cshtml file. The default looks like this:</p>

<pre><code>@model MvcSiteMapProvider.Web.Html.Models.MenuHelperModel
@using System.Web.Mvc.Html
@using MvcSiteMapProvider.Web.Html.Models

&lt;ul id="menu"&gt;
    @foreach (var node in Model.Nodes) { 
        &lt;li&gt;@Html.DisplayFor(m =&gt; node) 
            @if (node.Children.Any()) {
                @Html.DisplayFor(m =&gt; node.Children)
            }
        &lt;/li&gt;
    }
&lt;/ul&gt;
</code></pre>

<p>It calls the SiteMapNodeModel in a loop. But we can easily copy the contents of SiteMapNodeModel into MySiteMapNode and then edit the code. Then we can just call our new template by editing MenuHelperModel as follows.</p>

<pre><code>@model MvcSiteMapProvider.Web.Html.Models.MenuHelperModel
@using System.Web.Mvc.Html
@using MvcSiteMapProvider.Web.Html.Models

&lt;ul id="menu"&gt;
    @foreach (var node in Model.Nodes) { 
        &lt;li&gt;@Html.DisplayFor(m =&gt; node) 
            @if (node.Children.Any()) {
                @Html.DisplayFor(m =&gt; node.Children, "MySiteMapNode")
            }
        &lt;/li&gt;
    }
&lt;/ul&gt;
</code></pre>

<h2>
<a name="automatic-sitemaps-xml-generation" class="anchor" href="#automatic-sitemaps-xml-generation"><span class="octicon octicon-link"></span></a>Automatic Sitemaps XML Generation</h2>

<p>In addition to giving you HTML helpers, MvcSiteMapProvider keeps track of each of your URLs so they can be submitted to search engines using the <a href="http://www.sitemaps.org/protocol.html">standardized Sitemaps XML format</a>. </p>

<p>This feature is automatically enabled by default, just navigate to the path /sitemap.xml in your browser to see the output from your configured nodes.</p>

<h2>
<a name="more-information" class="anchor" href="#more-information"><span class="octicon octicon-link"></span></a>More Information</h2>

<p>MvcSiteMapProvider does a lot more than we can describe on one page, and it can also be extended in many ways - you can even replace much of the default behavior with your own code. Read the <a href="https://github.com/maartenba/mvcsitemapprovider/wiki">full documentation</a> on our wiki, or for a tutorial visit <a href="http://www.shiningtreasures.com/post/2013/08/07/MvcSiteMapProvider-40-a-test-drive">MvcSiteMapProvider - A Test Drive</a>.</p>

<h2>
<a name="extra-configuration-steps-for-net-35" class="anchor" href="#extra-configuration-steps-for-net-35"><span class="octicon octicon-link"></span></a>Extra Configuration Steps for .NET 3.5</h2>

<p>For .NET 3.5, you need to manually add the code to launch MvcSiteMapProvider to your Application_Start() event of the /Global.asax file. There is only 1 line required.</p>

<div class="highlight highlight-csharp"><pre><span class="n">MvcSiteMapProvider</span><span class="p">.</span><span class="n">DI</span><span class="p">.</span><span class="n">Composer</span><span class="p">.</span><span class="n">Compose</span><span class="p">();</span>
</pre></div>

<p>After adding that line, MvcSiteMapProvider will launch when you run the application, as it would for .NET 4.0 or higher.</p>

<h2>
<a name="extra-configuration-steps-for-external-di-modules-packages" class="anchor" href="#extra-configuration-steps-for-external-di-modules-packages"><span class="octicon octicon-link"></span></a>Extra Configuration Steps for External DI Modules Packages</h2>

<p>There is a readme file that opens up automatically when you install one of these packages with the code to add to your composition root. In case you need to reference it again, you can view the readme files online at the following locations.</p>

<ul>
<li><a href="https://github.com/maartenba/MvcSiteMapProvider/tree/master/src/MvcSiteMapProvider/CodeAsConfiguration/Autofac/DI/Autofac">Autofac</a></li>
<li><a href="https://github.com/maartenba/MvcSiteMapProvider/tree/master/src/MvcSiteMapProvider/CodeAsConfiguration/Ninject/DI/Ninject">Ninject</a></li>
<li><a href="https://github.com/maartenba/MvcSiteMapProvider/tree/master/src/MvcSiteMapProvider/CodeAsConfiguration/SimpleInjector/DI/SimpleInjector">SimpleInjector</a></li>
<li><a href="https://github.com/maartenba/MvcSiteMapProvider/tree/master/src/MvcSiteMapProvider/CodeAsConfiguration/StructureMap/DI/StructureMap">StructureMap</a></li>
<li><a href="https://github.com/maartenba/MvcSiteMapProvider/tree/master/src/MvcSiteMapProvider/CodeAsConfiguration/Unity/DI/Unity">Unity</a></li>
<li><a href="https://github.com/maartenba/MvcSiteMapProvider/tree/master/src/MvcSiteMapProvider/CodeAsConfiguration/Windsor/DI/Windsor">Castle Windsor</a></li>
</ul>
        </section>

        <aside id="sidebar">
          <a href="https://github.com/NightOwl888/MvcSiteMapProvider/zipball/master" class="button">
            <small>Download</small>
            .zip file
          </a>
          <a href="https://github.com/NightOwl888/MvcSiteMapProvider/tarball/master" class="button">
            <small>Download</small>
            .tar.gz file
          </a>

          <p class="repo-owner"><a href="https://github.com/NightOwl888/MvcSiteMapProvider"></a> is maintained by <a href="https://github.com/NightOwl888">NightOwl888</a>.</p>

          <p>This page was generated by <a href="https://pages.github.com">GitHub Pages</a> using the Architect theme by <a href="https://twitter.com/jasonlong">Jason Long</a>.</p>
        </aside>
      </div>
    </div>

  
  </body>
</html>